.heading_h1 {
  font-size: 3.4rem;
}
.heading_h2 {
  font-size: 2.6rem;
}
.heading_h3 {
  font-size: 2rem;
}
.heading_h4 {
  font-size: 1.8rem;
}
.heading_h5 {
  font-size: 1.6rem;
}
.gray_text {
  color: var(--grey);
  font-size: 2rem;
}
.small_text {
  font-size: 1.6rem;
}
.center_text {
  text-align: center;
}
.text_component {
  margin-left: 25rem;
}
@media only screen and (max-width: 600px) {
  .text_component {
    margin: 1rem;
  }
}
