.ratings{
    display:flex;
}
.star{
    font-size:18px;
    color:#D5D5D5;
    cursor: pointer;
    margin:3px;
}
.star_fill{
   color:var(--warning-color);
}
.ratings_box{
  display:flex;
  justify-content:center;
  align-items:center;
  width:70px;
  background-color:var(--warning-bgcolor);
  margin:10px;
  border:none;
  border-radius:8px;
}
.ratings_box .rating_text{
    color:var(--dark);
    font-size:15px; 
}